.modal {
    margin-top: '5px';
    position: fixed;
    top: '5px';
    left: 80%;
    width: 20%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 3%;
    background-color: white;
}

.openModalButton {
    position: fixed;
    left: 95%;
    width: auto;
}

.closeModalButton {
    width: '20px';
    height: '20px';
}